.idea/
.vscode/
__pycache__/
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/
venv/
authentication/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
src/EasyOCR/demo_images/*.jpg
src/EasyOCR/demo_images/*.png
src/speach_file/*.wav
src/speach_file/*.mp3
src/speach_file/*.mp4
src/speach_file/*.m4a
src/speach_file/*.avi
src/speach_file/*.mov
src/speach_file/*.wmv